.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #0ac7b8 0%, #31c1ea 100%),
            #125b8c,
            #08abb9,
            radial-gradient(center 50% 50%, radius 100%, #00c1ff, #08abb9);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 2em;
}

.label {
    -fx-text-fill: #24b1de;
    -fx-font-weight: bold;
    -fx-font-size: 4em;
}

.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #0ac7b8 0%, #31c1ea 100%),
            #125b8c,
            #08abb9,
            radial-gradient(center 50% 50%, radius 100%, #24b1de, #08abb9);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #001ba3, 0,0,0,2 );
}

#menu {
    -fx-background-image: url("images/wallpaper.jpg");
    -fx-background-size: 1530 780;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#gamePane {
    -fx-background-color: black;
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#pauseMenuBar {
    -fx-background-color: black;
    -fx-background-size: 1000 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#endGameMenuBar {
    -fx-background-color: black;
    -fx-background-image: url("images/lose.jpg");
    -fx-background-size: 1280 720;
    -fx-background-position: top center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#winGameMenuBar {
    -fx-background-color: black;
    -fx-background-image: url("images/win.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: top center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
